.env
.venv/
venv/
__pycache__/
*.py[cod]
*.sqlite3
backend/chromedriver/
backend/se-metadata.json
backend/media/
.pytest_cache/
.coverage
htmlcov/
node_modules/
dist/
npm-debug.log*
*.tsbuildinfo
.DS_Store
.idea/
.vscode/
